{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Product{% endblock %}

{% block content %}
<h5 class="text-warning p-3 bg-white">Change Product Detail</h5>

<div class="row">
    <div class="col-sm-8">
        <div class="d-flex justify-content-center">
            <div class="card border-0 p-2" style="width: 55rem;">
                <form method="post" class="p-4">
                    {% crispy form %}
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4 ">
        <h5 class="p-2 text-warning bg-white">Current Image</h5>
        <img src="{{ product.image.url }}" class="img-fluid" alt="Responsive image">
    </div>
</div>
{% endblock %}