{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Product{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ form.errors }}
</div>
{% endif %}

<h5 class="text-warning p-3 bg-white">Message on {{ product }}</h5>
<div class="d-flex justify-content-center">
    <div class="card border-0 p-2" style="width: 55rem;">
        <form method="post" class="p-4">
            {% crispy form %}
            {% csrf_token %}
            
        </form>
    </div>
</div>
<div

{% endblock %}